openapi: 3.0.3
info:
  title: eMAC — Drug Allergy Card API
  version: 1.0.0
  description: >
    ระบบบัตรแพ้ยาอิเล็กทรอนิกส์ (eMAC) — Node.js + Express + PostgreSQL.


    **Authentication:** login แบบ mock ที่ `POST /auth/session` (ระหว่างยังไม่ได้ client id จริงของ
    MOPH Provider ID) จะได้ session JWT → ส่งเป็น `Authorization: Bearer <token>` กับ endpoint ที่ต้องยืนยันตัวตน.


    **Tenant isolation:** ทุก endpoint ที่ต้อง auth จะกรองข้อมูลตาม `hospcode` ที่อยู่ใน token เท่านั้น
    (ห้ามส่ง hospcode ผ่าน query — จะถูกเพิกเฉย).


    **หมายเหตุ base path:** สเปกนี้ตั้ง server เป็น root ของโดเมน (`HTTP_BASE_PATH=` ว่าง).
    ถ้า deploy ใต้ subpath ให้แก้ `servers[].url` ให้ตรง (เช่น `.../emac`).
  contact:
    name: eMAC API
    url: https://emac.moph.go.th

servers:
  - url: https://emac.moph.go.th
    description: Production (root mount)
  - url: http://localhost:3000
    description: Local development

tags:
  - name: Health
    description: Liveness / readiness probes
  - name: Auth
    description: Login (mock MOPH Provider ID) + session
  - name: Patients
    description: รายการ/รายละเอียดผู้ป่วยแพ้ยา (tenant-scoped)
  - name: Verification
    description: ยืนยัน/ปฏิเสธ/หมายเหตุ/พรีวิวบัตร + ลงนามดิจิทัล
  - name: Cards
    description: บัตรแพ้ยา — ตรวจความแท้ (public) / metadata / embed
  - name: Keys
    description: Public key สำหรับตรวจลายเซ็น (public)

security:
  - bearerAuth: []

paths:
  # ---------------- Health ----------------
  /healthz:
    get:
      tags: [Health]
      summary: Liveness probe
      security: []
      responses:
        '200':
          description: process ยังทำงาน
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }

  /readyz:
    get:
      tags: [Health]
      summary: Readiness probe (เช็ค dependency เช่น DB)
      security: []
      responses:
        '200':
          description: พร้อมรับ traffic
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Readiness' }
        '503':
          description: dependency ยังไม่พร้อม
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Readiness' }

  # ---------------- Auth ----------------
  /auth/providers:
    get:
      tags: [Auth]
      summary: (mock) รายชื่อโปรไฟล์ให้เลือก login
      description: เปิดเฉพาะโหมด mock (dev/POC). โหมด real จะคืน 404.
      security: []
      responses:
        '200':
          description: รายชื่อ provider จำลอง
          content:
            application/json:
              schema:
                type: object
                properties:
                  providers:
                    type: array
                    items: { $ref: '#/components/schemas/MockProfile' }
        '404':
          $ref: '#/components/responses/NotFound'

  /auth/session:
    post:
      tags: [Auth]
      summary: (mock) login ด้วย providerId → session JWT
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [providerId]
              properties:
                providerId:
                  type: string
                  example: mock-pharm-001
      responses:
        '201':
          description: login สำเร็จ
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoginResult' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: ไม่ใช่บุคลากรการแพทย์ / โรงพยาบาลไม่อยู่ใน allowlist
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /auth/me:
    get:
      tags: [Auth]
      summary: identity ปัจจุบันจาก session
      responses:
        '200':
          description: ตัวตนของผู้ใช้
          content:
            application/json:
              schema:
                type: object
                properties:
                  identity: { $ref: '#/components/schemas/Identity' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ---------------- Patients ----------------
  /api/v1/patients:
    get:
      tags: [Patients]
      summary: รายการผู้ป่วยแพ้ยา (tenant-scoped, filter/paging/search)
      parameters:
        - { in: query, name: status, schema: { $ref: '#/components/schemas/PatientStatus' } }
        - { in: query, name: q, schema: { type: string, maxLength: 64 }, description: ค้นด้วย HN หรือ PID }
        - { in: query, name: diagcode, schema: { type: string, maxLength: 16 }, example: L511 }
        - { in: query, name: admitFrom, schema: { type: string, format: date } }
        - { in: query, name: admitTo, schema: { type: string, format: date } }
        - { in: query, name: group, schema: { type: string }, description: กรองด้วยกลุ่มยา, example: Carbamazepine }
        - { in: query, name: page, schema: { type: integer, minimum: 1, default: 1 } }
        - { in: query, name: pageSize, schema: { type: integer, minimum: 1, maximum: 100, default: 20 } }
      responses:
        '200':
          description: หน้าผลลัพธ์
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaginatedPatients' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/patients/{id}:
    get:
      tags: [Patients]
      summary: รายละเอียดผู้ป่วย + suspect drugs (เขียน audit VIEW)
      parameters:
        - $ref: '#/components/parameters/PatientId'
      responses:
        '200':
          description: รายละเอียดผู้ป่วย
          content:
            application/json:
              schema:
                type: object
                properties:
                  patient: { $ref: '#/components/schemas/PatientDetail' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ---------------- Verification ----------------
  /api/v1/patients/{id}/verify:
    post:
      tags: [Verification]
      summary: ยืนยันแพ้ยา + ลงนามดิจิทัล → ออกบัตร
      description: >
        เลือก `confirmedDrugs[]` (ต้องเป็น subset ของ suspect drugs) + กรอกฟิลด์คลินิก →
        สร้าง canonical payload → เซ็น Ed25519 → บันทึก verification + set สถานะ verified + ออกบัตร (ทำใน transaction เดียว).
      parameters:
        - $ref: '#/components/parameters/PatientId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VerifyInput' }
      responses:
        '201':
          description: ยืนยันสำเร็จ + ออกบัตร
          content:
            application/json:
              schema:
                type: object
                properties:
                  verification: { $ref: '#/components/schemas/VerificationRecord' }
                  card: { $ref: '#/components/schemas/CardLinks' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: record ถูกดำเนินการแล้ว (read-only)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: ยาที่ยืนยันไม่อยู่ในรายการยาที่ต้องสงสัย
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/patients/{id}/reject:
    post:
      tags: [Verification]
      summary: ปฏิเสธ record → snapshot ไป rejected_records
      parameters:
        - $ref: '#/components/parameters/PatientId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, maxLength: 2000, example: ประวัติไม่ชัดเจน ขอตรวจเพิ่ม }
      responses:
        '200':
          description: ปฏิเสธสำเร็จ
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: rejected }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: record ถูกดำเนินการแล้ว
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/patients/{id}/note:
    patch:
      tags: [Verification]
      summary: แก้ไขหมายเหตุ (เฉพาะสถานะ pending)
      parameters:
        - $ref: '#/components/parameters/PatientId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [note]
              properties:
                note: { type: string, maxLength: 2000 }
      responses:
        '200':
          description: อัปเดตสำเร็จ
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: แก้ note ไม่ได้ (ถูก stamp แล้ว)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/v1/patients/{id}/card/preview:
    post:
      tags: [Verification]
      summary: พรีวิวบัตร (ไม่บันทึก)
      parameters:
        - $ref: '#/components/parameters/PatientId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VerifyInput' }
      responses:
        '200':
          description: พรีวิว (มี HTML)
          content:
            application/json:
              schema:
                type: object
                properties:
                  preview: { $ref: '#/components/schemas/CardPreview' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ---------------- Cards ----------------
  /api/v1/patients/{id}/card:
    get:
      tags: [Cards]
      summary: บัตรของผู้ป่วย (tenant-scoped)
      parameters:
        - $ref: '#/components/parameters/PatientId'
      responses:
        '200':
          description: บัตร + ลิงก์
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CardWithLinks' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/v1/cards/{id}:
    get:
      tags: [Cards]
      summary: metadata บัตร (tenant-scoped)
      parameters:
        - { in: path, name: id, required: true, schema: { type: string }, description: card id (uuid) }
      responses:
        '200':
          description: บัตร + ลิงก์
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CardWithLinks' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/v1/cards/{id}/verify:
    get:
      tags: [Cards]
      summary: ตรวจความแท้บัตรด้วย public key (public)
      security: []
      parameters:
        - { in: path, name: id, required: true, schema: { type: string }, description: card id (uuid) }
      responses:
        '200':
          description: ผลตรวจ (valid true/false)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CardVerifyResult' }
        '404':
          $ref: '#/components/responses/NotFound'

  /embed/card/{token}:
    get:
      tags: [Cards]
      summary: HTML บัตรสำหรับ iframe (public)
      description: "คืนหน้า HTML บัตรฟอร์แมตราชการ + header Content-Security-Policy: frame-ancestors 'self'."
      security: []
      parameters:
        - { in: path, name: token, required: true, schema: { type: string }, description: render_token (uuid) }
      responses:
        '200':
          description: HTML ของบัตร
          content:
            text/html:
              schema: { type: string }
        '404':
          $ref: '#/components/responses/NotFound'

  # ---------------- Keys ----------------
  /api/v1/keys/{providerId}:
    get:
      tags: [Keys]
      summary: public key ของ provider (public — ใช้ตรวจลายเซ็น)
      security: []
      parameters:
        - { in: path, name: providerId, required: true, schema: { type: string }, example: mock-pharm-001 }
      responses:
        '200':
          description: public key (PEM)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PublicKey' }
        '404':
          $ref: '#/components/responses/NotFound'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: session JWT จาก `POST /auth/session`

  parameters:
    PatientId:
      in: path
      name: id
      required: true
      schema: { type: string }
      description: patient_drugallergy id
      example: '1'

  responses:
    BadRequest:
      description: request ไม่ถูกต้อง
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: ไม่มี/ token ไม่ถูกต้องหรือหมดอายุ
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Forbidden:
      description: บทบาทไม่มีสิทธิ์ / ข้ามโรงพยาบาล
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: ไม่พบทรัพยากร
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              enum: [BAD_REQUEST, UNAUTHORIZED, FORBIDDEN, NOT_FOUND, CONFLICT, UNPROCESSABLE, INTERNAL, SERVICE_UNAVAILABLE]
            message: { type: string }
            details: {}
            requestId: { type: string }

    Readiness:
      type: object
      properties:
        status: { type: string, example: ready }
        checks:
          type: array
          items:
            type: object
            properties:
              name: { type: string, example: postgres }
              ok: { type: boolean }

    Role:
      type: string
      enum: [doctor, pharmacist]

    Sex:
      type: string
      enum: [male, female, other]
      nullable: true

    PatientStatus:
      type: string
      enum: [pending, verified, rejected]

    Severity:
      type: string
      enum: [mild, moderate, severe, life-threatening]

    AssessmentCode:
      type: string
      description: ผลการประเมิน — 1=ใช่แน่นอน 2=น่าจะใช่ 3=อาจจะใช่ H=ประวัติการแพ้ยา
      enum: ['1', '2', '3', 'H']

    MockProfile:
      type: object
      properties:
        providerId: { type: string, example: mock-pharm-001 }
        name: { type: string, example: ภญ. เจนจิรา วัฒนกุล }
        role: { type: string, example: pharmacist }
        hospcode: { type: string, example: '10670' }
        hospitalName: { type: string, example: โรงพยาบาลศิริราช }
        isMedicalPersonnel: { type: boolean }

    Identity:
      type: object
      properties:
        providerId: { type: string }
        hospcode: { type: string }
        hospitalName: { type: string }
        role: { $ref: '#/components/schemas/Role' }
        name: { type: string }
        keyId: { type: string }

    LoginResult:
      type: object
      properties:
        token: { type: string, description: session JWT }
        expiresAt: { type: string, format: date-time }
        profile:
          type: object
          properties:
            providerId: { type: string }
            name: { type: string }
            role: { type: string }
            hospcode: { type: string }
            hospitalName: { type: string }
            keyId: { type: string }

    SuspectDrug:
      type: object
      properties:
        didstd: { type: string, description: TMT standard id }
        dname: { type: string }
        dateServ: { type: string, format: date }
        group: { type: string, nullable: true }

    PatientListItem:
      type: object
      properties:
        id: { type: string }
        hn: { type: string, nullable: true }
        pid: { type: string }
        fullName: { type: string, nullable: true }
        sex: { $ref: '#/components/schemas/Sex' }
        diagcode: { type: string }
        datetimeAdmit: { type: string, format: date }
        status: { $ref: '#/components/schemas/PatientStatus' }
        drugCount: { type: integer }
        groups:
          type: array
          items: { type: string }
        updatedAt: { type: string, format: date-time }

    PatientDetail:
      allOf:
        - $ref: '#/components/schemas/PatientListItem'
        - type: object
          properties:
            cid: { type: string, nullable: true }
            birthDate: { type: string, format: date, nullable: true }
            address: { type: string, nullable: true }
            note: { type: string, nullable: true }
            sourceHospcode: { type: string }
            sourceLoadedAt: { type: string, format: date-time }
            suspectDrugs:
              type: array
              items: { $ref: '#/components/schemas/SuspectDrug' }
            nsaidGroups: { type: array, items: { type: string } }
            systemicNsaids: { type: array, items: { type: string } }
            antibioticGroups: { type: array, items: { type: string } }
            otherGroups: { type: array, items: { type: string } }

    PaginatedPatients:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/PatientListItem' }
        page: { type: integer }
        pageSize: { type: integer }
        total: { type: integer }

    ConfirmedDrug:
      type: object
      required: [didstd, dname]
      properties:
        didstd: { type: string }
        dname: { type: string }
        group: { type: string, nullable: true }
        adverseReaction: { type: string, maxLength: 500 }
        assessment: { $ref: '#/components/schemas/AssessmentCode' }

    VerifyInput:
      type: object
      required: [confirmedDrugs, severity]
      properties:
        confirmedDrugs:
          type: array
          minItems: 1
          items: { $ref: '#/components/schemas/ConfirmedDrug' }
        biomarker: { type: string, maxLength: 128, example: "HLA-B*15:02 Positive" }
        severity: { $ref: '#/components/schemas/Severity' }
        manifestations:
          type: array
          items: { type: string }
        crossReactiveDrugs:
          type: array
          items: { type: string }
        alternativeDrugs:
          type: array
          items: { type: string }
        note: { type: string, maxLength: 2000 }

    VerificationRecord:
      type: object
      properties:
        id: { type: string }
        patientId: { type: string }
        providerId: { type: string }
        hospcode: { type: string }
        decision: { type: string, enum: [verified] }
        confirmedDrugs:
          type: array
          items: { $ref: '#/components/schemas/ConfirmedDrug' }
        biomarker: { type: string, nullable: true }
        severity: { $ref: '#/components/schemas/Severity' }
        manifestations: { type: array, items: { type: string } }
        crossReactiveDrugs: { type: array, items: { type: string } }
        alternativeDrugs: { type: array, items: { type: string } }
        note: { type: string, nullable: true }
        canonicalPayload: { type: string, description: string ที่ถูกเซ็น (ตรวจซ้ำได้) }
        signature: { type: string, description: base64 }
        signatureAlg: { type: string, example: Ed25519 }
        keyId: { type: string }
        signedAt: { type: string, format: date-time }

    CardLinks:
      type: object
      properties:
        id: { type: string }
        renderToken: { type: string }
        issuedAt: { type: string, format: date-time }
        verifyUrl: { type: string, format: uri }
        embedUrl: { type: string, format: uri }

    CardPayload:
      type: object
      properties:
        hn: { type: string, nullable: true }
        pid: { type: string }
        cid: { type: string, nullable: true }
        fullName: { type: string, nullable: true }
        sex: { $ref: '#/components/schemas/Sex' }
        birthDate: { type: string, format: date, nullable: true }
        address: { type: string, nullable: true }
        diagcode: { type: string }
        hospcode: { type: string }
        hospitalName: { type: string }
        providerId: { type: string }
        providerName: { type: string }
        confirmedDrugs:
          type: array
          items: { $ref: '#/components/schemas/ConfirmedDrug' }
        biomarker: { type: string, nullable: true }
        severity: { $ref: '#/components/schemas/Severity' }
        manifestations: { type: array, items: { type: string } }
        crossReactiveDrugs: { type: array, items: { type: string } }
        alternativeDrugs: { type: array, items: { type: string } }
        note: { type: string, nullable: true }
        signedAt: { type: string, format: date-time }

    AllergyCard:
      type: object
      properties:
        id: { type: string }
        patientId: { type: string }
        verificationId: { type: string }
        providerId: { type: string }
        hospcode: { type: string }
        renderToken: { type: string }
        payload: { $ref: '#/components/schemas/CardPayload' }
        canonicalPayload: { type: string }
        signature: { type: string }
        signatureAlg: { type: string, example: Ed25519 }
        keyId: { type: string }
        issuedAt: { type: string, format: date-time }

    CardWithLinks:
      type: object
      properties:
        card: { $ref: '#/components/schemas/AllergyCard' }
        links: { $ref: '#/components/schemas/CardLinks' }

    CardVerifyResult:
      type: object
      properties:
        valid: { type: boolean }
        cardId: { type: string }
        issuer:
          type: object
          properties:
            providerId: { type: string }
            name: { type: string }
        hospcode: { type: string }
        hn: { type: string, nullable: true }
        confirmedDrugs:
          type: array
          items: { $ref: '#/components/schemas/ConfirmedDrug' }
        severity: { $ref: '#/components/schemas/Severity' }
        biomarker: { type: string, nullable: true }
        crossReactiveDrugs: { type: array, items: { type: string } }
        issuedAt: { type: string, format: date-time }
        signedAt: { type: string, format: date-time }

    CardPreview:
      type: object
      properties:
        patientId: { type: string }
        hn: { type: string, nullable: true }
        pid: { type: string }
        hospcode: { type: string }
        diagcode: { type: string }
        confirmedDrugs:
          type: array
          items: { $ref: '#/components/schemas/ConfirmedDrug' }
        biomarker: { type: string, nullable: true }
        severity: { $ref: '#/components/schemas/Severity' }
        manifestations: { type: array, items: { type: string } }
        crossReactiveDrugs: { type: array, items: { type: string } }
        alternativeDrugs: { type: array, items: { type: string } }
        note: { type: string, nullable: true }
        html: { type: string, description: HTML พรีวิวบัตร }

    PublicKey:
      type: object
      properties:
        providerId: { type: string }
        algorithm: { type: string, example: Ed25519 }
        publicKeyPem: { type: string }
